<div class="container">
  <header>
    <div id="left-header">
      <div id="pagetitle">
        <a href="index.html">
          <h1> Patrick Breheny </h1>
          <h2> Associate professor, Department of Biostatistics, University of Iowa </h2>
        </a>
      </div>
      <div id="switcher">
        <div class="buttonContainer">
          <button class="button theme1"><i class="fas fa-sun" aria-hidden="true"></i></button>
          <button class="button theme2"><i class="fas fa-moon" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
    <div id="logo">
      <img class="center" src="img/logo-yellow.png" width="109" height="100">
    </div>
  </header>
</div>
