<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/katex.min.css" integrity="sha384-5TcZemv2l/9On385z///+d7MSYlvIEw9FuZTIdZ14vJLqWphw7e7ZPuOiCHJcFCP" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/katex.min.js" integrity="sha384-cMkvdD8LoxVzGF/RPUKAcvmm49FQ0oxwDF3BGKtDXcEc+T1b2N+teh/OJfpU0jr6" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/contrib/auto-render.min.js" integrity="sha384-hCXGrW6PitJEwbkoStFjeJxv+fSOOQKOPbJxSfM6G5sWZjAyWhXiTIIAmQqnlLlh" crossorigin="anonymous" onload="renderMathInElement(document.body);"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    renderMathInElement(document.body, {
      delimiters: [
        {left: '$$', right: '$$', display: true},
        {left: '$', right: '$', display: false},
        {left: '\\(', right: '\\)', display: false},
        {left: '\\[', right: '\\]', display: true}
      ],
      macros: {
        "\\a": "\\mathbf{a}",
        "\\b": "\\mathbf{b}",
        "\\c": "\\mathbf{c}",
        "\\d": "\\mathbf{d}",
        "\\e": "\\mathbf{e}",
        "\\f": "\\mathbf{f}",
        "\\g": "\\mathbf{g}",
        "\\h": "\\mathbf{h}",
        "\\i": "\\mathbf{i}",
        "\\j": "\\mathbf{j}",
        "\\k": "\\mathbf{k}",
        "\\l": "\\mathbf{l}",
        "\\m": "\\mathbf{m}",
        "\\n": "\\mathbf{n}",
        "\\o": "\\mathbf{o}",
        "\\p": "\\mathbf{p}",
        "\\q": "\\mathbf{q}",
        "\\r": "\\mathbf{r}",
        "\\s": "\\mathbf{s}",
        "\\t": "\\mathbf{t}",
        "\\u": "\\mathbf{u}",
        "\\v": "\\mathbf{v}",
        "\\w": "\\mathbf{w}",
        "\\x": "\\mathbf{x}",
        "\\y": "\\mathbf{y}",
        "\\z": "\\mathbf{z}",

        "\\A": "\\mathbf{A}",
        "\\B": "\\mathbf{B}",
        "\\C": "\\mathbf{C}",
        "\\D": "\\mathbf{D}",
        "\\E": "\\mathbf{E}",
        "\\F": "\\mathbf{F}",
        "\\G": "\\mathbf{G}",
        "\\H": "\\mathbf{H}",
        "\\I": "\\mathbf{I}",
        "\\J": "\\mathbf{J}",
        "\\K": "\\mathbf{K}",
        "\\L": "\\mathbf{L}",
        "\\M": "\\mathbf{M}",
        "\\N": "\\mathbf{N}",
        "\\O": "\\mathbf{O}",
        "\\P": "\\mathbf{P}",
        "\\Q": "\\mathbf{Q}",
        "\\R": "\\mathbf{R}",
        "\\S": "\\mathbf{S}",
        "\\T": "\\mathbf{T}",
        "\\U": "\\mathbf{U}",
        "\\V": "\\mathbf{V}",
        "\\W": "\\mathbf{W}",
        "\\X": "\\mathbf{X}",
        "\\Y": "\\mathbf{Y}",
        "\\Z": "\\mathbf{Z}",

        "\\fhat": "\\hat{f}",
        "\\shat": "\\hat{s}",
        "\\that": "\\hat{t}",
        "\\yhat": "\\hat{y}",
        "\\bfhat": "\\mathbf{\\hat{f}}",
        "\\bshat": "\\mathbf{\\hat{s}}",
        "\\bthat": "\\mathbf{\\hat{t}}",
        "\\byhat": "\\mathbf{\\hat{y}}",
        
        "\\rj": "\\mathbf{r}_{-j}",
        "\\xj": "\\mathbf{x}_{-j}",
        "\\Xj": "\\mathbf{X}_{-j}",
        
        "\\rr": "\\tilde{r}",
        "\\ww": "\\tilde{w}",
        "\\xx": "\\tilde{x}",
        "\\yy": "\\tilde{y}",
        "\\zz": "\\tilde{z}",
        "\\brr": "\\tilde{\\mathbf{r}}",
        "\\bww": "\\tilde{\\mathbf{w}}",
        "\\bxx": "\\tilde{\\mathbf{x}}",
        "\\byy": "\\tilde{\\mathbf{y}}",
        "\\bzz": "\\tilde{\\mathbf{z}}",
        "\\RR": "\\tilde{\\mathbf{R}}",
        "\\WW": "\\tilde{\\mathbf{W}}",
        "\\XX": "\\tilde{\\mathbf{X}}",
        "\\YY": "\\tilde{\\mathbf{Y}}",
        "\\ZZ": "\\tilde{\\mathbf{Z}}",

        "\\cA": "\\mathcal{A}",
        "\\cB": "\\mathcal{B}",
        "\\cC": "\\mathcal{C}",
        "\\cD": "\\mathcal{D}",
        "\\cE": "\\mathcal{E}",
        "\\cF": "\\mathcal{F}",
        "\\cN": "\\mathcal{N}",
        "\\cR": "\\mathcal{R}",
        "\\cS": "\\mathcal{S}",
        "\\cT": "\\mathcal{T}",
        "\\cV": "\\mathcal{V}",
        "\\cX": "\\mathcal{X}",
        "\\cY": "\\mathcal{Y}",
        "\\cZ": "\\mathcal{Z}",

        "\\ba": "\\boldsymbol{\\alpha}",
        "\\ah": "\\hat{\\alpha}",
        "\\bah": "\\boldsymbol{\\hat{\\alpha}}",
        "\\bb": "\\boldsymbol{\\beta}",
        "\\bh": "\\hat{\\beta}",
        "\\bbh": "\\hat{\\boldsymbol{\\beta}}",
        "\\bbs": "\\boldsymbol{\\beta}^*",
        "\\gam": "\\gamma",
        "\\bg": "\\boldsymbol{\\gamma}",
        "\\gh": "\\hat{\\gamma}",
        "\\bgh": "\\hat{\\boldsymbol{\\gamma}}",
        "\\bd": "\\boldsymbol{\\delta}",
        "\\dh": "\\hat{\\delta}",
        "\\bdh": "\\hat{\\boldsymbol{\\delta}}",
        "\\eps": "\\epsilon",
        "\\vep": "\\varepsilon",
        "\\eph": "\\hat{\\epsilon}",
        "\\veph": "\\hat{\\varepsilon}",
        "\\bep": "\\boldsymbol{\\epsilon}",
        "\\bvep": "\\boldsymbol{\\varepsilon}",
        "\\beph": "\\boldsymbol{\\hat{\\epsilon}",
        "\\bveph": "\\boldsymbol{\\hat{\\varepsilon}",
        "\\be": "\\boldsymbol{\\eta}",
        "\\eh": "\\hat{\\eta}",
        "\\beh": "\\boldsymbol{\\hat{\\eta}}",
        "\\lam": "\\lambda",
        "\\lh": "\\hat{\\lambda}",
        "\\bl": "\\boldsymbol{\\lambda}",
        "\\bm": "\\boldsymbol{\\mu}",
        "\\mh": "\\hat{\\mu}",
        "\\bmh": "\\hat{\\boldsymbol{\\mu}}",
        "\\bp": "\\boldsymbol{\\pi}",
        "\\bpsi": "\\boldsymbol{\\psi}",
        "\\bt": "\\boldsymbol{\\theta}",
        "\\th": "\\hat{\\theta}",
        "\\bth": "\\hat{\\boldsymbol{\\theta}}",
        "\\tauh": "\\hat{\\tau}",
        "\\btau": "\\boldsymbol{\\tau}",
        "\\btauh": "\\boldsymbol{\\hat{\\tau}}",
        
        "\\bG": "\\boldsymbol{\\Gamma}",
        "\\Lam": "\\Lambda",
        "\\bL": "\\boldsymbol{\\Lambda}",        
        "\\bPsi": "\\boldsymbol{\\Psi}",
        "\\bS": "\\boldsymbol{\\Sigma}",
        "\\bT": "\\boldsymbol{\\Theta}",
        
        "\\real": "\\mathbb{R}",
        "\\Pr": "\\mathbb{P}",
        "\\Ex": "\\mathbb{E}",
        "\\Var": "\\mathbb{V}",
        "\\dx": "\\,dx",

        "\\argmax": "\\mathop{\\mathrm{arg\\,max}}\\limits",
        "\\argmin": "\\mathop{\\mathrm{arg\\,min}}\\limits",
        "\\one": "\\mathbf{1}",
        "\\zero": "\\mathbf{0}",
        "\\intii": "\\int_{-\\infty}^{\\infty}",
        "\\ind": "\\mathrel{\\perp\\!\\!\\!\\perp}",
        "\\IID": "\\overset{\\scriptscriptstyle \\ind}{\\sim}",

        "\\cov": "\\textrm{Cov}",
        "\\dom": "\\textrm{dom}",
        "\\Exp": "\\textrm{Exp}",
        "\\Norm": "\\textrm{N}",
        "\\OR": "\\textrm{OR}",
        "\\Pois": "\\textrm{Pois}",
        "\\prox": "\\textrm{prox}",
        "\\rank": "\\textrm{rank}",
        "\\RR": "\\textrm{RR}",
        "\\RSS": "\\textrm{RSS}",
        "\\sign": "\\textrm{sign}",
        "\\SE": "\\textrm{SE}",
        "\\trace": "\\textrm{tr}",
        "\\Unif": "\\textrm{Unif}",

        "\\inD": "\\overset{\\text{d}}{\\longrightarrow}", 
        "\\inP": "\\overset{\\text{p}}{\\longrightarrow}",
        "\\inAS": "\\overset{\\textrm{as}\\,}{\\longrightarrow}",
        "\\inQM": "\\overset{\\textnormal{qm}\\,}{\\longrightarrow}",
        "\\adist": "\\overset{\\text{.}}{\\sim}",
        "\\SD": "\\textrm{SD}",
        "\\KL": "\\textrm{KL}",
        "\\CV": "\\textrm{CV}",
        "\\fI": "\\mathscr{I}",
        "\\oI": "\\mathcal{I}",
        "\\iid": "\\overset{\\text{iid}}{\\sim}",

        "\\Tr": "^{\\scriptscriptstyle\\top}",
        "\\Tri": "^{-\\scriptscriptstyle\\top}",
        "\\star": "^{\\scriptscriptstyle\\ast}",

        "\\given": "\\,\\vert\\,",
        "\\gl": "\\prec",
        "\\gle": "\\preceq",
        "\\gg": "\\succ",
        "\\gge": "\\succeq",
        "\\qed": "\\quad \\blacksquare",
        
        "\\as": "\\begin{align*} #1 \\end{align*}",
        "\\norm": "\\lVert #1 \\rVert",
        "\\abs": "\\left\\lvert #1 \\right\\rvert",
        "\\inprod": "\\langle #1, #2 \\rangle",
        "\\pf": "\\frac{\\partial #1}{\\partial #2}"
      },
      throwOnError : false
    });
  });
</script>
