* {
  border:0;
  margin: 0 auto;
  padding:0;
  outline:none;
  font-family: Lato, sans-serif;
  font-weight: 300;
  transition: all .3s;
  box-sizing: border-box;
}
b, strong {
  font-weight: 400;
}
body {
  font-size: 16px;
  line-height: 22px;
  margin: 0px auto; 
  background: url(http://myweb.uiowa.edu/pbreheny/img/bg.png);
}
p {
  padding-bottom: 12px;
}
a {
  color: #00a7e6;
  text-decoration:none;
}
a:hover {
  color: #00e7a7;
}
.button {
  display: inline-block;
  color: #ccc;
}
button {
  color: #ccc;
  background: #333;
}
.button:hover, button:hover {
  color: #008dff;
}
h1, h1 a, h1 a:hover {
  color: #ddd;
  font-weight: 300;
  margin-top: 30px;
  padding-bottom: 10px;
}
h2{
  color: #ddd;
  font-weight: 300;
  font-size: 16px;
}
h3{
  margin: 0px;
  color: #ccc;
  font-size: 16px;
  font-weight: 400;
}
h3 a{
  font-weight: 400;
  margin: 5px;
  /* display: block; */
}
h4 {
  color: #494949;
  font-size: 16px;
  font-weight: 300;
  text-shadow: none;
}
h5 {
  color:#aaa;
  font-size:95%;
  border:none;
  font-weight: 300;
  text-decoration:none;
  text-shadow: none;
}
h6 {
  color:#aaa;
  font-size:95%;
  border:none;
  font-weight: 300;
  text-decoration:none;
  padding: 0 0 20px;
  text-shadow: none;
}
h7 {
  color:#015daa;
  font-size:200%;
}
.year {
  color: #ddd;
  font-weight: normal;
  text-align: center;
  font-size: 20px;
  line-height:1em;
  display: block;
  padding: 10px 0px 20px 0px;
}
.course{
  font-weight: normal;
  text-align: left;
  font-size: 18px;
  line-height:1em;
  display: block;
  padding-top: 30px;
}

/*=== Header ===*/
header {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
  height: 100px;
}
#pagetitle {
  display: inline-block;
  width: 75%;
  vertical-align: top;
}
#left-header {
  display: inline-block;
  width: calc(100% - 109px);
  vertical-align: top;
}
#logo {
  float: right;
}
#switcher {
  float:right;
  margin: 60px 40px;
}
#switcher button {
  background: transparent;
}
button.theme1 {
  color: #ccc;
}
button.theme1:hover {
  color: yellow;
}
button.theme2 {
  color: yellow;
}
button.theme2:hover {
  color: yellow;
}
.light button.theme1 {
  color: yellow;
}
.light button.theme2 {
  color: #ccc;
}
.light button.theme2:hover {
  color: yellow;
}

/*=== Main ===*/
main {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  max-width: 1080px;
  background: #333;
  color: #ccc;
  padding: 30px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.container {
  max-width: 940px;
  min-width: 840px;
  margin-left: auto;
  margin-right: auto;
}
.button-container {
  text-align: justify;
  width: 320px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -160px;
}
.stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0
}
/*=== Tables ===*/
.ctable, .ctable td, .ctable th{
  font-size:100%;
}

/*=== Code ===*/
code, tt {
  font-family: 'Ubuntu Mono', monospace;
}
pre.code{background-color:#DDDDDD;
  border-width:0px;
  color:#000000;
  font-size:14px;
  margin:0px 0px 10px 10px;
  max-height:500px;
  min-height:16px;
  overflow:auto;
  padding:10px 10px 10px;
  width:90%;
  z-index:10000;
}
div.code-header{color:#FFFFFF;
  background-color:#AAAAAA;
  display:inline-block;
  font-weight: bold;
  padding:3px;
  font-size:14px;
  margin:10px 0px 0px 10px;
  padding:10px 10px 10px;
  width:90%;
}

/*=== Menu ===*/

nav {
  margin: 0;
  padding: 0;
}
nav ul {
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  list-style-type: none;
  text-align: center;
}
nav li {
  display:inline;
  padding: 0;
  line-height: 20px;
}
nav li a{
  color: #BABABA;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  min-width: 40px;
  font-weight: 400;
}
nav li a:hover{
  color:#FFFFFF;
}
nav li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -3px;
  left: 0;
  background-color: yellow;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
nav li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
nav li.active a {
  color:#FFFFFF;
  border-bottom-width: medium;
  border-bottom-style: solid;
  border-bottom-color: yellow;
}
ul {margin-left: 20px;}
li {padding: 2px;}
.leftbox {float: left; width: 440px;}
.rightbox {float: right; width: 440px;}
.semester {
  margin-left: 20px;
  margin-bottom: 20px;
}
img.center {
  margin-left: auto;
  margin-right: auto;
  display: block
}
img.right {
  float: right;
  margin-left: 30px;
}
img.left {
  float: left;
  margin-right: 30px;
}
iframe {
  display:block
}
svg-icon svg {
  height:16px;
}
.student-list {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.student {
  overflow: hidden;
  padding: 5px 0;
}
.student-header {
  text-align: center;
  font-size: 20px;
  font-weight: normal;
}
.student-img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.student-pic {
  float: left;
  height: 100px;
}
.student-info {
  float: left;
  padding-left: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100px;
}

/*=== Switcher ===*/

.light main {
  background: #ccc;
  color: #333;
}

.light a {
  color: #666;
  text-decoration: none;
}

.header h1 {
  color: #666;
}
.dark .header h1 {
  color: #fff;
}
.dark .header {
  background-color: #555;
}
.content {
  display: flex;
  justify-content: space-between;
  margin: 2em 0;
  padding: 2em 2em;
  flex-wrap: wrap;
  border-bottom: 2px solid #eee;
  border-top: 2px solid #eee;
}
.dark .content {
  border-color: #444;
}
.content h3 {
  margin-top: -5px;
}
.content > * {
  flex: 1 1 40%;
  margin: 0 3em 2em;
}
