* {
  border:0;
  margin: 0 auto;
  padding:0;
  outline:none;
  font-family: Lato, sans-serif;
  font-weight: 300;
}
b, strong {
  font-weight: 400;
}
body {
  font-size: 16px;
  line-height: 22px;
  margin: 0px auto; 
  background: url(http://myweb.uiowa.edu/pbreheny/img/bg.png);
}
p {
  padding-bottom: 12px;
}
a {
  color: #00a7e6;
  text-decoration:none;
}
a:hover {
  color: #00e7a7;
}
.button {
  display: inline-block;
  color: #ccc;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
button {
  color: #ccc;
  background: #333;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
.button:hover, button:hover {
  color: #008dff;
}
h1, h1 a, h1 a:hover {
  color: #ddd;
  font-weight: 300;
  margin-top: 30px;
  padding-bottom: 10px;
}
h2{
  color: #ddd;
  font-weight: 300;
  font-size: 16px;
}
h3{
  margin: 0px;
  color: #ccc;
  font-size: 16px;
  font-weight: 400;
}
h3 a{
  font-weight: 400;
  margin: 5px;
  /* display: block; */
}
h4 {
  color: #494949;
  font-size: 16px;
  font-weight: 300;
  text-shadow: none;
}
h5 {
  color:#aaa;
  font-size:95%;
  border:none;
  font-weight: 300;
  text-decoration:none;
  text-shadow: none;
}
h6 {
  color:#aaa;
  font-size:95%;
  border:none;
  font-weight: 300;
  text-decoration:none;
  padding: 0 0 20px;
  text-shadow: none;
}
h7 {
  color:#015daa;
  font-size:200%;
}
.year {
  color: #ddd;
  font-weight: normal;
  text-align: center;
  font-size: 20px;
  line-height:1em;
  display: block;
  padding: 10px 0px 20px 0px;
}
.course{
  font-weight: normal;
  text-align: left;
  font-size: 18px;
  line-height:1em;
  display: block;
  padding-top: 30px;
}

/*=== Header ===*/
header {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
  height: 100px;
}
#pagetitle {
  display: inline-block;
  width: 75%;
  vertical-align: top;
}
#logo {
  float: right;
}

/*=== Main ===*/
main {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  max-width: 1080px;
  background: #333;
  color: #ccc;
  padding: 30px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}
.button-container {
  text-align: justify;
  width: 320px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -160px;
}
.stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0
}
/*=== Tables ===*/
.ctable, .ctable td, .ctable th{
  font-size:100%;
}

/*=== Code ===*/
code, tt {
  font-family: 'Ubuntu Mono', monospace;
}
pre.code{background-color:#DDDDDD;
  border-width:0px;
  color:#000000;
  font-size:14px;
  margin:0px 0px 10px 10px;
  max-height:500px;
  min-height:16px;
  overflow:auto;
  padding:10px 10px 10px;
  width:90%;
  z-index:10000;
}
div.code-header{color:#FFFFFF;
  background-color:#AAAAAA;
  display:inline-block;
  font-weight: bold;
  padding:3px;
  font-size:14px;
  margin:10px 0px 0px 10px;
  padding:10px 10px 10px;
  width:90%;
}

/*=== Menu ===*/

nav {
  margin: 0;
  padding: 0;
}
nav ul {
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  list-style-type: none;
  text-align: center;
}
nav li {
  display:inline;
  padding: 0;
  line-height: 20px;
}
nav li a{
  color: #BABABA;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  min-width: 40px;
  font-weight: 400;
}
nav li a:hover{
  color:#FFFFFF;
}
nav li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -3px;
  left: 0;
  background-color: yellow;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
nav li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
nav li.active a {
  color:#FFFFFF;
  border-bottom-width: medium;
  border-bottom-style: solid;
  border-bottom-color: yellow;
}
ul {margin-left: 20px;}
li {padding: 2px;}
.leftbox {float: left; width: 440px;}
.rightbox {float: right; width: 440px;}
.semester {
  margin-left: 20px;
  margin-bottom: 20px;
}
img.center {
  margin-left: auto;
  margin-right: auto;
  display: block
}
img.right {
  float: right;
  margin-left: 30px;
}
img.left {
  float: left;
  margin-right: 30px;
}
iframe {
  display:block
}
svg-icon svg {
  height:16px;
}
.student-list {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.student {
  overflow: hidden;
  padding: 5px 0;
}
.student-header {
  text-align: center;
  font-size: 20px;
  font-weight: normal;
}
.student-img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.student-pic {
  float: left;
  height: 100px;
}
.student-info {
  float: left;
  padding-left: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100px;
}

/*=== Switcher ===*/

* {
  transition: all .3s;
}

pre {
  display: inline;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
body.dark {
  color: #ccc;
  background-color: #222;
}
body.teal {
  background-color: #fff;
  background: url(https://i.imgur.com/NWzvJmm.png) repeat #fff;
}

a {
  color: #666;
  text-decoration: none;
}
.dark a {
  color: #ddd;
}

.wrapper {
  width: 90vw;
  margin: 0 auto;
  overflow: hidden;
}

.header {
  background-color: #eee;
  padding: 0 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header h1 {
  color: #666;
}
.dark .header h1 {
  color: #fff;
}
.dark .header {
  background-color: #555;
}
.teal .header {
  opacity: 0;
}
.header .topNav__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header .topNav__links__link {
  list-style: none;
  margin: 0 1em;
  font-weight: 400;
}
.header .topNav__links__link:hover {
  border-bottom: 1px solid #666;
  border-top: 1px solid #666;
}

.hero {
  position: relative;
}
.hero .overlay {
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 29%, rgba(0, 0, 0, 0.65) 100%);
  position: absolute;
  top: 0;
  left: 0;
}
.hero__image {
  width: 100%;
}
.hero__title {
  position: absolute;
  bottom: 0px;
  width: 80%;
  padding: 0 10%;
  margin: 5% auto;
  text-align: center;
  font-size: 2em;
  font-weight: 300;
  text-shadow: 0 0 20px black;
  color: #fff;
}
@media (min-width: 400px) {
  .hero__title {
    font-size: 3em;
  }
}
@media (min-width: 900px) {
  .hero__title {
    font-size: 5em;
    width: 60%;
    padding: 0 20%;
  }
}
.teal .hero {
  opacity: 0;
}

.switcher {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2em;
  flex-wrap: wrap;
}
.teal .switcher h2 {
  opacity: 0;
}

.content {
  display: flex;
  justify-content: space-between;
  margin: 2em 0;
  padding: 2em 2em;
  flex-wrap: wrap;
  border-bottom: 2px solid #eee;
  border-top: 2px solid #eee;
}
.dark .content {
  border-color: #444;
}
.teal .content {
  opacity: 0;
}
.content h3 {
  margin-top: -5px;
}
.content > * {
  flex: 1 1 40%;
  margin: 0 3em 2em;
}

.floatedImage {
  float: left;
  margin: 0 1.5em 1.5em 0;
}

.button {
  background-color: #4B7094;
  color: white;
  border: 0;
  padding: 1em;
  border-radius: 4px;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1em;
  height: 3em;
  line-height: 1em;
}
.button:hover {
  cursor: pointer;
  background-color: #333;
}
.button.theme1 {
  background-color: #ddd;
  color: #4B7094;
}
.button.theme1:hover {
  background-color: #eee;
  color: #666;
}
.button.theme3 {
  background-color: transparent;
  border: 1px solid #666;
  color: #000;
}
.button.theme3:hover {
  background-color: #eee;
  color: #666;
}
.dark .button.theme3 {
  color: #fff;
}

.bonus .newText {
  height: 2.8em;
  padding: 0 1em;
  font-size: 1em;
  font-weight: 800;
  border-radius: 4px;
  margin: 0 .5em .5em 0;
}
