{% assign current = page.url | remove_first:'/' %}
<div class="container-lg">
  <nav class="navbar navbar-expand-sm">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link{% if current == '' %} active{% endif %}" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="assets/BrehenyCV.pdf">CV</a>
          </li>
          <li class="nav-item">
            <a class="nav-link{% if current == 'research.html' %} active{% endif %}" href="research.html">Research</a>
          </li>
          <li class="nav-item">
            <a class="nav-link{% if current == 'teaching.html' %} active{% endif %}" href="teaching.html">Teaching</a>
          </li>
          <li class="nav-item">
            <a class="nav-link{% if current == 'publications.html' %} active{% endif %}" href="publications.html">Publications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link{% if current == 'software.html' %} active{% endif %}" href="software.html">Software</a>
          </li>
          <li class="nav-item">
            <a class="nav-link{% if current == 'people.html' %} active{% endif %}" href="people.html">People</a>
          </li>
          <li class="nav-item">
            <a class="nav-link{% if current == 'other.html' %} active{% endif %}" href="other.html">Other</a>
          </li>
      </div>
    </div>
  </nav>
</div>
