code, tt {
  font-family: 'Ubuntu Mono', monospace;
}

pre.code{background-color:#DDDDDD;
  border-width:0px;
  color:#000000;
  font-size:14px;
  margin:0px 0px 10px 10px;
  max-height:500px;
  min-height:16px;
  overflow:auto;
  padding:10px 10px 10px;
  width:90%;
  z-index:10000;
}

div.code-header{color:#FFFFFF;
  background-color:#AAAAAA;
  display:inline-block;
  font-weight: bold;
  padding:3px;
  font-size:14px;
  margin:10px 0px 0px 10px;
  padding:10px 10px 10px;
  width:90%;
}
