main {
  background: #333;
  color: #ccc;
}
.light main {
  background: #eee;
  color: #000;
}

a {
  color: #00a7e6;
  text-decoration:none;
}
a:hover {
  color: #00e7a7;
}

.button {
  display: inline-block;
  color: #ccc;
}
.light .button {
  color: #333;
}
button {
  color: #ccc;
  background: transparent;
}
.light button {
  color: #333;
}
.button:hover, button:hover {
  color: #008dff;
}

// h1, h2 appear only in header
h1, h1 a, h1 a:hover {
  color: #ddd;
  font-weight: 300;
  margin-top: 30px;
  padding-bottom: 10px;
}
h2{
  color: #ddd;
  font-weight: 300;
  font-size: 16px;
}

h3 {
  margin: 0px;
  color: #ccc;
  line-height: 20px;
  font-size: 20px;
  font-weight: 400;
  margin: 5px 5px 5px 0px;
}
.light h3 {
  color: #000;
}
h3 a{
  font-weight: 400;
}


h4 {
  color: #ccc;
  font-size: 18px;
  font-weight: 400;
  text-shadow: none;
}
.light h4 {
  color: #000;
}

h5 {
  color: #aaa;
  font-size: 95%;
  border: none;
  font-weight: 300;
  text-decoration:none;
  text-shadow: none;
}
.light h5 {
  color: #555;
}
h6 {
  color:#aaa;
  font-size:95%;
  border:none;
  font-weight: 300;
  text-decoration:none;
  padding: 0 0 20px;
  text-shadow: none;
}
.light h6 {
  color: #555;
}

.year {
  color: #ddd;
  font-weight: normal;
  text-align: center;
  font-size: 20px;
  line-height:1em;
  display: block;
  padding: 10px 0px 20px 0px;
}
.light .year {
  color: #333;
}
