/* Light theme */
[data-bs-theme="light"] {
  --bs-body-bg: #eeeeee;
  --bs-body-color: #333;
  --bs-border-color: #dee2e6;
  --bs-button-color: #333;
  
  --link-color: #007bff;
  --hover-color: #0BDA51;

  .icon-dark {
    display: none;
  }
}

/* Dark theme */
[data-bs-theme="dark"] {
  --bs-body-bg: #2a2a2a;
  --bs-body-color: #ccc;
  --bs-border-color: #2a2f3a;
  --bs-button-color: #ccc;

  --link-color: #00a7e6;
  --hover-color: #00e7a7;
  
  .icon-light {
    display: none;
  }
}
