main {
  background: #333;
  color: #ccc;
}
.light main {
  background: #ccc;
  color: #333;
}

a {
  color: #00a7e6;
  text-decoration:none;
}
.light a {
  color: #666;
}

a:hover {
  color: #00e7a7;
}
.button {
  display: inline-block;
  color: #ccc;
}
button {
  color: #ccc;
  background: #333;
}
.button:hover, button:hover {
  color: #008dff;
}
h1, h1 a, h1 a:hover {
  color: #ddd;
  font-weight: 300;
  margin-top: 30px;
  padding-bottom: 10px;
}
h2{
  color: #ddd;
  font-weight: 300;
  font-size: 16px;
}
h3{
  margin: 0px;
  color: #ccc;
  font-size: 16px;
  font-weight: 400;
}
h3 a{
  font-weight: 400;
  margin: 5px;
  /* display: block; */
}
h4 {
  color: #494949;
  font-size: 16px;
  font-weight: 300;
  text-shadow: none;
}
h5 {
  color:#aaa;
  font-size:95%;
  border:none;
  font-weight: 300;
  text-decoration:none;
  text-shadow: none;
}
h6 {
  color:#aaa;
  font-size:95%;
  border:none;
  font-weight: 300;
  text-decoration:none;
  padding: 0 0 20px;
  text-shadow: none;
}
h7 {
  color:#015daa;
  font-size:200%;
}
.year {
  color: #ddd;
  font-weight: normal;
  text-align: center;
  font-size: 20px;
  line-height:1em;
  display: block;
  padding: 10px 0px 20px 0px;
}

