.main-content {
  background: #2a2a2a;
  color: #ccc;
}
.light main-content {
  background: #eee;
  color: #000;
}

a {
  color: #00a7e6;
  text-decoration:none;
}
a:hover {
  color: #00e7a7;
}

.button {
  display: inline-block;
  color: #ccc;
}
.light .button {
  color: #333;
}
button {
  color: #ccc;
  border: 0px;
  background: transparent;
}
.light button {
  color: #333;
}
.button:hover, button:hover {
  color: #008dff;
}
.year {
  color: #ddd;
  font-weight: normal;
  text-align: center;
  line-height:1em;
  display: block;
  padding: 10px 0px 20px 0px;
}
.light .year {
  color: #333;
}
