:root {
  --bs-font-family: Lato, sans-serif;
  --bs-body-font-family: Lato, sans-serif;
}

body {
  background: url(../assets/bg.png);
}

a {
  text-decoration:none;
  color: var(--link-color);
}

a:hover {
  color: var(--hover-color);
}

.table {
  --bs-table-color: var(--bs-body-color);
}

.h1, h1 {
  font-size: calc(1.3rem + .6vw);
  font-weight: bold;
}

.h2, h2 {
  font-size: 1.25rem;
  font-weight: bold;
}

.h5, h5 {
  font-size: 1.1rem;
}

.header {
  font-size: 2rem;
  font-weight: lighter;
  color: #ccc;
}

.container-lg {
  max-width: 960px;
}

.main-content {
  border-radius: 10px;
  padding: 30px;
  background: var(--bs-body-bg);
  color: var(--bs-body-color);
}

.button {
  display: inline-block;
  color: var(--bs-button-color);
  border: 0px;
  background: transparent;
}
.button:hover, button:hover {
  color: #008dff;
}

iframe {
  display:block
}

.student-list {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.student-img {
  height: 100px;
  width: 100%;
  border-radius: 50%;
}

