* {
  border:0;
  margin: 0 auto;
  padding:0;
  outline:none;
  font-family: Lato, sans-serif;
  font-weight: 300;
  transition: all .3s;
  box-sizing: border-box;
}

b, strong {
  font-weight: 400;
}

body {
  font-size: 16px;
  line-height: 1.5em;
  margin: 0px auto; 
  background: url(https://myweb.uiowa.edu/pbreheny/img/bg.png);
}

p {
  padding-bottom: 12px;
}

blockquote {
  margin: 0 40px;
}

.course{
  font-weight: normal;
  text-align: left;
  font-size: 18px;
  line-height:1em;
  display: block;
  padding-top: 30px;
}

main {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  max-width: 1080px;
  padding: 30px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.container {
  max-width: 940px;
  min-width: 840px;
  margin-left: auto;
  margin-right: auto;
}
.button-container {
  text-align: justify;
  width: 320px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -160px;
}
.stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0
}
.ctable, .ctable td, .ctable th{
  font-size:100%;
}
ul {margin-left: 20px;}
li {padding: 2px;}
.leftbox {float: left; width: 440px;}
.rightbox {float: right; width: 440px;}
.semester {
  margin-left: 20px;
  margin-bottom: 20px;
}
img.center {
  margin-left: auto;
  margin-right: auto;
  display: block
}
img.right {
  float: right;
  margin-left: 30px;
}
img.left {
  float: left;
  margin-right: 30px;
}
iframe {
  display:block
}
svg-icon svg {
  height:16px;
}
.student-list {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.student {
  overflow: hidden;
  padding: 5px 0;
}
.student-header {
  text-align: center;
  font-size: 20px;
  font-weight: normal;
}
.student-img {
  height: 100px;
  width: 100%;
  border-radius: 50%;
}
.student-pic {
  float: left;
  height: 100px;
  width: 100px;
  display: inline-block;
  text-align: center
}
.student-info {
  float: left;
  padding-left: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100px;
}
%link-button {
  border-style: solid;
  color: #fff;
  padding: 0px 4px 24px 4px;
  border-style: solid;
  border-radius: 0.2rem;
  font-size: small;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.2em;
}
%link-button-hover {
  background-color: #fff;
  fill: #fff;
  text-decoration: none;  
}
.journal {
  @extend %link-button;
  background-color: #00a7e6;
  border-color: #00a7e6;
}
.journal:hover {
  @extend %link-button-hover;
  color: #00a7e6;
}
.pdf {
  @extend %link-button;
  background-color: #e600a7;
  border-color: #e600a7;
}
.pdf:hover {
  @extend %link-button-hover;
  color: #e600a7;
}
.R {
  @extend %link-button;
  background-color: #FF4E37;
  border-color: #FF4E37;
}
.R:hover {
  @extend %link-button-hover;
  color: #FF4E37;
}
.reproduce {
  @extend %link-button;
  background-color: #00B500;
  border-color: #00B500;
}
.reproduce:hover {
  @extend %link-button-hover;
  color: #00B500;
}
.website {
  @extend %link-button;
  background-color: #a700e6;
  border-color: #a700e6;
}
.website:hover {
  @extend %link-button-hover;
  color: #a700e6;
}
.app {
  @extend %link-button;
  background-color: #e6a700;
  border-color: #e6a700;
}
.app:hover {
  @extend %link-button-hover;
  color: #e6a700;
}
