nav {
  margin: 0;
  padding: 0;

  ul {
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    list-style-type: none;
    text-align: center;
  }

  li {
    display:inline;
    padding: 0;
    line-height: 20px;

    a{
      color: #BABABA;
      margin-left: 5px;
      margin-right: 5px;
      position: relative;
      text-decoration: none;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      min-width: 40px;
      font-weight: 400;
    }

    a:hover{
      color: #FFFFFF;
    }

    a:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      bottom: -3px;
      left: 0;
      background-color: yellow;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }

    a:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }

  li.active a {
    color:#FFFFFF;
    border-bottom-width: medium;
    border-bottom-style: solid;
    border-bottom-color: yellow;
  }
}
