<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}
    {% include menu.html %}

    <div class="container">
    <main>

    <div class="switcher">
      <h2>Ready to Switch Themes? Click away, my friend.</h2>
      <div class="buttonContainer">
        <button class="button theme1">Light Theme</button>
        <button class="button theme2">Dark Theme</button>
      </div>
    </div>

    {{ content }}

    </main>
    </div>

    <script  src="js/switcher.js"></script>

  </body>

</html>
