<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}
    {% include menu.html %}

    <div class="container">
      <main>
        <div style="float: left; width=250; margin-right: 30px">
          <img src="img/breheny-web.jpg" width="250" height="333">
        </div>
        <div style="overflow: hidden; position: relative; min-height: 333px">
          <div style="padding-bottom: 100px;">
            {{ content }}
          </div>
        </div>
      </main>
    </div>

  </body>

</html>
